#content{
    text-align: center;
    padding-top: 30%;
    color: black;
}

#stats{
    text-align: center;
    padding-top: 20%;
    color: black;
}

#about img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	display: inline-block;
}

#about p {
	margin-top: 20px;
	margin-bottom: 30px;
}

hr {
	height: 4px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #7bc3d1;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}

#skills h2 {
	color: #fff;
}
#skills hr {
	background: rgba(255,255,255,0.3);
}
#skills .skill {
	margin-bottom: 40px;
	text-align: center;
	padding: 0px;
}
#skills .skill h4 {
	font-weight: 600;
	color: #fff;
}
.chart {
	position: relative;
	display: inline-block;
	width: 152px;
	height: 152px;
	margin-bottom: 26px;
	text-align: center;
}
.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.percent {
	display: inline-block;
	font-size: 21px;
	color: #121d1f;
	line-height: 152px;
	z-index: 2;
}
.percent:after {
	content: '%';
	margin-left: 0.1em;
	font-size: .8em;
}

.achievement-box h4 {
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	margin-left: 5px;
}
.achievement-box span.count {
	font-size: 52px;
	font-weight: 600;
	display: block;
	color: #121d1f;
	padding: 0;
	margin: 0;
}

.achievement-box span.counter {
	font-size: 52px;
	font-weight: 600;
	display: block;
	color: #121d1f;
	padding: 0;
	margin: 0;
}

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}