.intro-section {
    height: 100%;
    width: auto;
    padding-top: 150px;
    text-align: center;
    background: #607D8B;
    background: url(../img/intro-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about-section {
    height: 100%;
    width: auto;
    padding-top: 150px;
    text-align: center;
    background: #2196F3;
}

.skills-section {
    height: 100%;
    width: auto;
    padding-top: 50px;
    text-align: center;
    background: #1976D2;
}

.stats-section {
    height: 100%;
    width: auto;
    padding-top: 150px;
    text-align: center;
    background: #1976D2;
}

.experience-section {
    width: auto;
    text-align: center;
    background: #f6f6f6;
}

.contact-section {
    height: 100%;
    width: auto;
    padding-top: 150px;
    text-align: center;
    background: #607D8B;
}

.